Web_Service_Soap/Cliente/ConsumeWs/Controlador/Web References/Facturacion/facturacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="localhost" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="localhost">
      <s:element name="Facturacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo_dealer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_sucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo_vehiculo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="num_stock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version_vehiculo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color_vehiculo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stock_asig" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom_usua_final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom2_usua_final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apep_usua_final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apem_usua_final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_usua_final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail_usua_final" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom_vendedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_vendedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesorios" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="monto_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mar_vehi_retoma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mod_vehi_retoma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ano_vehi_retoma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inst_credito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_credito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inst_seguro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacturacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacturacionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FacturacionSoapIn">
    <wsdl:part name="parameters" element="tns:Facturacion" />
  </wsdl:message>
  <wsdl:message name="FacturacionSoapOut">
    <wsdl:part name="parameters" element="tns:FacturacionResponse" />
  </wsdl:message>
  <wsdl:portType name="facturacionSoap">
    <wsdl:operation name="Facturacion">
      <wsdl:input message="tns:FacturacionSoapIn" />
      <wsdl:output message="tns:FacturacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="facturacionSoap" type="tns:facturacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Facturacion">
      <soap:operation soapAction="localhost/Facturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="facturacionSoap12" type="tns:facturacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Facturacion">
      <soap12:operation soapAction="localhost/Facturacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="facturacion">
    <wsdl:port name="facturacionSoap" binding="tns:facturacionSoap">
      <soap:address location="http://10.10.10.102/ws/facturacion.asmx" />
    </wsdl:port>
    <wsdl:port name="facturacionSoap12" binding="tns:facturacionSoap12">
      <soap12:address location="http://10.10.10.102/ws/facturacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>